<form action="/answer">
  <label for="question"><p>Ask your coach anything: </p></label>
  <input type="text" id="input_question" name="question">
  <input type="submit" id="btn" value="Ask!">
</form>
